/* Estilo base */
body {
  background-image: url(../assets/image/—Pngtree—math\ clipart_5730905.png);
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  background-repeat: no-repeat;
  height: 100vh;  /* Defina a altura total da tela */
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

h1 {
  color: rgb(14, 14, 145);
  height: 50px;
  font-size: 30px;
}


nav{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 70%;
  border-radius: 5px;
  gap: 10px;
}

 #inNome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: rgb(202, 243, 243);
}


.calculadora {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 400px;
  height: 600px;
  background-color: #27e5f3;
  color:darkblue ;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.calculadora input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 70%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: rgb(202, 243, 243);
}

 .botaoNome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color:darkblue;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: rgb(20, 207, 114);
}

.botao{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color:darkblue;
  width: 70%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: rgb(20, 207, 114);
}



.resultados {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.resultados li {
  flex: 0 0 33.33%;
  padding: 8px;
}

#calculoMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70%;
  height: 80px;
  border-radius: 5px;
  background-color: rgb(202, 243, 243);
  padding-top: 15px;
}

#calculoMedia p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 360px) {
  body {
    background-image: url(../assets/image/—Pngtree—math\ clipart_5730905.png);
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    height: 100vh; /* Defina a altura total da tela */
  }

  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%; /* Altera a largura do container para 80% da tela */
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 80%; /* Altera a largura do nav para 80% da tela */
    height: 80px;
    border-radius: 5px;
    margin-top: 50px;
  }

  h1 {
    color: rgb(14, 14, 145);
    width: 400px;
    height: 50px;
    font-size: 50px;
    background-color: #27e5f3;
  }

  #inNome {
    border: none;
    background-color: rgb(202, 243, 243);
    border-radius: 5px;
    font-size: 50px;
  }



  .calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 800px;
    height: 1000px;
    gap: 15px;
    background-color: #27e5f3;
    color:darkblue ;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .calculator input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
    width: 80%;
    height: 80px;
    margin: 5px;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(202, 243, 243);
  }
  
  .calculator .botao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    width: 80%;
    height: 80px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(20, 207, 114);
  }

  .resultados li {
    flex: 0 0 100%; /* Altera a largura dos resultados para 100% da tela */
    padding: 8px;
    font-size: 50px;
  }

.resultados {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.resultados li {
  flex: 0 0 33.33%;
  padding: 8px;
}

#calculoMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 50px;
  width: 80%;
  height: 190px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgb(202, 243, 243);
  padding-top: 25px;
}

#calculoMedia p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

}



