body {
  background-image: url(../assets/image/—Pngtree—math\ clipart_5730905.png);
  background-size: cover;
  image-rendering: auto;
  background-position: center;
  font-family: Arial, sans-serif;
  height: 100vh;
  
}

nav{ 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #27e5f3;
  width:200px;
  height: 40px;
  margin-bottom: 180px;
  border-radius: 15px;
}
#inNome{
  display: flex;
  flex-direction: row;
  align-self:center;
  
  width: 98%;
  height:95%;
  padding-left: 15px;
  border-radius: 15px;
  border: none;
}

h1 {
  color: rgb(14, 14, 145);
  width: 400px;
  height: 50px;
  
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 400px;
  height: 500px;
  background-color: #27e5f3;
  color:darkblue ;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.calculator input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 70%;
  height: 50px;
  margin: 5px;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(202, 243, 243);
}
.calculator #botao {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(20, 207, 114);
}

#calculoMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70%;
  height: 70px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgb(202, 243, 243);
  padding-top: 15px;
}

#calculoMedia p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

